target/GoogleService
target/GoogleService.war
target/classes
target/generated-sources
target/maven-archiver
target/tomcat
.idea/artifacts
.idea/compiler.xml
.idea/encodings.xml
.idea/inspectionProfiles
.idea/libraries
.idea/misc.xml
.idea/modules.xml
.idea/scopes
.idea/uiDesigner.xml
.idea/vcs.xml
.idea/workspace.xml
